/*
 * Copyright (c) 2021 Rafael Yumagulov
 *
 * SPDX-License-Identifier: MIT
 * TODO: Клики мыши не сработали почему то - &mkp LCLK   &mkp RCLK  . Похоже просто надо include нужный добавить
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define LT1 1
#define LT2 2
#define RT1 3
#define RT2 4
#define LT3 5
#define LT4 6
#define RT3 7
#define RT4 8
#define RFE 9

&lt { quick_tap_ms = <100>; };
&mt { quick_tap_ms = <100>; };

/ {
    chosen {
        zmk,matrix_transform = &default_transform;
        // zmk,matrix_transform = &extra_keys_transform;
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        /** Добавил CTRL, SHFT, ALT на правую сторону - активно пользуюсь RSHFT  */
                        /** Эксперимент с &mt LALT TAB - пока очень нравится  */
                        /** TODO: попробовать все таки вернуть &lt LT1 ENTER но установить меньше задержку. 
                                Да и в целом надо попробовать меньше задержку установить для многих клавиш. Все таки использвать клавишу F было прям удобно 
                            UPD: отказаался от &lt RT1 ENTER - так как на правом thumb появилось много функциональности и начал путаться. 
                                 Поэтому сейчас вообще координально убрал &lt RT1 ENTER заменив на -> &mo RT1. Ну и вернул &mo LT1 -> &lt LT1 ENTER
                                 Вообще подумал, что можно базовые стрелки вынести на слой, который буду нажимать левым мизинцем. Там есть Shift. Поэтому можно либо A, либо Ctrl
                        - &mt LSHFT CARET for , in Russian
                        - &lt RT1 AMPS for . in Russion
                        - experiment &lt { quick_tap_ms = <100>; } LSHFT CARET 
                        */
                        bindings = <
          &mt LALT TAB       &kp Q        &kp W        &lt RFE E    &kp R        &kp T                &kp Y   &kp U    &kp I        &kp O        &kp P           &kp LBKT
          &mt LSHFT CARET    &kp A        &kp S        &kp D        &lt RT1 F    &kp G                &kp H   &kp J    &kp K        &kp L        &kp SEMI        &mt RSHFT SQT
          &mt LCTRL MINUS    &kp Z        &kp X        &kp C        &kp V        &kp B                &kp N   &kp M    &kp COMMA    &kp DOT      &kp FSLH        &mt RCTRL BSLH
                                                  &lt LT2 ESC   &lt LT1 ENTER   &kp LGUI           &kp SPACE   &lt RT1 AMPS   &lt RT2 BSPC
                        >;
                };
                left_thumb_layer_1 {
                        /** 
                                Прикол, что все таки вернулся к цифрам на left_thumb_layer_1. 
                                Но верхний ряд у меня был занят только &kp DEL &kp LBRC &kp RBRC
                                Но &kp LBRC &kp RBRC можно использовать &kp LBKT&kp RBKT с SHFT, а &kp DEL унес на нижний ряд
                        UPD: Чет пока ряд с &kp N1 не заходит - вообще заходит. Но надо поработать над другим положением цифр
                         */
                        bindings = <
          &kp LALT      &kp N1    &kp N2      &kp N3      &kp N4      &kp N5           &kp N6        &kp N7         &kp N8      &kp N9      &kp N0         &none
          &kp LSHFT     &kp EXCL  &kp AT      &kp HASH    &kp DLLR    &kp PRCNT        &kp CARET     &kp AMPS       &kp LPAR    &kp RPAR    &kp ASTRK      &none
          &kp LCTRL     &kp LGUI  &kp DEL     &kp ENTER   &kp SPACE   &kp BSPC         &kp COLON     &kp KP_EQUAL   &kp LBKT    &kp RBKT    &kp GRAVE      &kp LGUI
                                               &kp ESC   &kp ENTER     &mo LT3            &mo RT3    &kp ENTER     &kp BSPC
                        >;
                };

                left_thumb_layer_2 {
                        /**
                                Для слоев LT2, RT2, RT4 - правая рука одинаковая. Да и с LT2, RT2 как раз переход на RT4
                                TODO: Сюда можно вынести Ctrl, Alt, Shift, Cmd на обе стороны, чтобы
                                TODO: Так же на правую руку можно продублировать цифры, чтобы не использовать корявку 
                                - &kp LGUI   &kp GRAVE - для переключения между окнами одной рукой. Сейчас приходится двумя руками - LT1+LGUI+GRAVE
                                Имеет полный дубликат на left_thumb_layer_4 
                        */
                        bindings = <
          &trans      &none      &none       &none        &none       &kp PRCNT           &kp EQUAL    &kp N7      &kp N8     &kp N9      &kp STAR     &kp SLASH
          &trans      &kp LALT   &kp LEFT    &kp DOWN     &kp UP      &kp RIGHT           &kp N0       &kp N4      &kp N5     &kp N6      &kp PLUS     &kp MINUS
          &trans      &kp LGUI   &kp GRAVE   &none        &kp SPACE   &kp BSPC            &kp COLON    &kp N1      &kp N2     &kp N3      &kp COMMA      &kp DOT
                                               &kp ESC   &kp ENTER     &mo LT4            &mo RT4    &kp ENTER     &kp BSPC
                        >;
                };
                right_thumb_layer_1 {
                        /** 
                        Имеет полный дубликат на right_thumb_layer_3
                        Тут важно иметь Ctrl, Alt, Shift, Cmd, чтобы нажимать их с F.. И в целом они есть, кроме Cmd
                        Так же на правой руке тут еще дофига места. А это типа в среднем доступе layout. Можно сюда управление мышью вынести. 
                        - Добавил &kp BSPC, чтобы можно было нажимать F+BSPC
                        - Добавил сюда &kp LBRC, &kp RBRC, &kp LBKT, &kp RBKT, &kp LPAR, &kp RPAR. Так же их будет удобно нажимать вместо с LGUI
                        - И тут продолжение верхнего - добавил LGUI на 4 ряд. Все таки это удобнее для CMD+[, CMD+{
                        */
                        bindings = <
        &trans       &kp F1     &kp F2    &kp F3   &kp F4   &kp F5                       &kp KP_N4   &kp KP_N2    &kp KP_N8  &kp KP_N6   &none      &none
        &trans       &kp F6     &kp F7    &kp F8   &kp F9   &kp F10                      &kp LEFT    &kp DOWN     &kp UP     &kp RIGHT   &kp LALT   &kp LPAR
        &trans       &kp DEL    &kp BSPC  &kp SPC  &kp F11  &kp F12                      &kp LBRC    &kp RBRC     &kp LBKT   &kp RBKT    &kp LGUI   &kp RPAR
                                       &kp ESC   &kp ENTER     &kp LGUI            &mo RT3    &kp ENTER     &kp BSPC
                        >;
                };
                right_thumb_layer_2 {
                        /** Имеет полный дубликат на right_thumb_layer_4 */
                        /** Управляющие кнопки и движение мышью */
                        /** Сюда можно вынести Ctrl, Alt, Shift, Cmd. Сдвинув Bright правее */
                        bindings = <
        &trans    &none     &none       &kp C_VOL_DN   &kp C_VOL_UP   &kp C_MUTE            &kp EQUAL   &kp N7   &kp N8   &kp N9   &kp STAR       &kp SLASH
        &trans    &none     &none       &none          &none          &none                 &kp N0      &kp N4   &kp N5   &kp N6   &kp PLUS       &kp MINUS
        &trans    &none     &none       &none          &kp C_BRI_DN   &kp C_BRI_UP          &kp COLON   &kp N1   &kp N2   &kp N3   &kp COMMA      &kp DOT
                                               &kp ESC   &kp ENTER     &mo LT4            &mo RT4    &kp ENTER     &kp BSPC
                        >;
                };
                left_thumb_layer_3 {
                        /** По факту единственный, который не копия своих неудобных пальцев */
                        bindings = <
        &trans     &none       &kp N1   &kp N2   &kp N3   &kp PRCNT            &none       &none       &none       &none       &none       &none
        &trans     &none       &kp N4   &kp N5   &kp N6   &kp N0               &none       &none       &none       &none       &none       &none
        &trans     &kp COLON   &kp N7   &kp N8   &kp N9   &kp BSPC             &none       &none       &none       &none       &none       &none
                                    &trans   &trans   &kp LGUI               &kp SPACE   &trans   &trans
                        >;
                };
                left_thumb_layer_4 {
                        /** Копия left_thumb_layer_2 */
                        bindings = <
          &trans      &none      &none       &none        &none       &kp PRCNT           &kp EQUAL    &kp N7      &kp N8     &kp N9      &kp STAR     &kp SLASH
          &trans      &kp LALT   &kp LEFT    &kp DOWN     &kp UP      &kp RIGHT           &kp N0       &kp N4      &kp N5     &kp N6      &kp PLUS     &kp MINUS
          &trans      &kp LGUI   &kp GRAVE   &none        &kp SPACE   &kp BSPC            &kp COLON    &kp N1      &kp N2     &kp N3      &kp COMMA      &kp DOT
                                                      &trans   &trans   &kp LGUI        &kp SPACE   &trans   &trans
                        >;
                };
                right_thumb_layer_3 {
                        /** Копия right_thumb_layer_1 */
                        bindings = <
        &trans       &kp F1     &kp F2    &kp F3   &kp F4   &kp F5                       &kp KP_N4   &kp KP_N2    &kp KP_N8  &kp KP_N6   &none      &none
        &trans       &kp F6     &kp F7    &kp F8   &kp F9   &kp F10                      &kp LEFT    &kp DOWN     &kp UP     &kp RIGHT   &kp LALT   &kp LPAR
        &trans       &kp DEL    &kp BSPC  &kp SPC  &kp F11  &kp F12                      &kp LBRC    &kp RBRC     &kp LBKT   &kp RBKT    &kp LGUI   &kp RPAR
                                                      &trans   &trans   &kp LGUI        &kp SPACE   &trans   &trans
                        >;
                };
                right_thumb_layer_4 {
                        /** Копия right_thumb_layer_2 */
                        /** Но непонятно, зачем дублировать управляющие Volume, Bright. Но другого не придумал. Пусть пока так пока не знаю, какие еще нужны */
                        bindings = <
        &trans    &none     &none       &kp C_VOL_DN   &kp C_VOL_UP   &kp C_MUTE            &kp EQUAL   &kp N7   &kp N8   &kp N9   &kp STAR       &kp SLASH
        &trans    &none     &none       &none          &none          &none                 &kp N0      &kp N4   &kp N5   &kp N6   &kp PLUS       &kp MINUS
        &trans    &none     &none       &none          &kp C_BRI_DN   &kp C_BRI_UP          &kp COLON   &kp N1   &kp N2   &kp N3   &kp COMMA      &kp DOT
                                    &trans   &trans   &kp LGUI               &kp SPACE   &trans   &trans
                        >;
                };
                right_finger_e {
                        /**
                        Попадаю сюда при зажатии E. Почему E? Чтобы было движение средним пальцем. Иначе путаюсь, что указтельный не двигается или средний? 
                        Ну и чтобы ввобще больше сюда ничего на левую руку не добавлять. Особенно Shift. Кроме LGUI
                        [] - оставил на клавише F
                        !_{}__
                        ^&()*+
                        :=<>`_
                        */
                        bindings = <
        &trans    &none     &none       &none          &none          &none            &kp EXCL      &none          &kp LBRC        &kp RBRC     &none          &none
        &trans    &none     &none       &none          &none          &none            &kp CARET     &kp AMPS       &kp LPAR        &kp RPAR     &kp ASTRK      &kp PLUS
        &trans    &none     &none       &none          &none          &none            &kp COLON     &kp KP_EQUAL   &kp LS(COMMA)   &kp LS(DOT)  &kp GRAVE      &none
                                    &trans   &trans   &kp LGUI               &kp SPACE   &trans   &trans
                        >;
                };
        };
};
