/*
 * Copyright (c) 2021 Rafael Yumagulov
 *
 * SPDX-License-Identifier: MIT
 * TODO: Клики мыши не сработали почему то - &mkp LCLK   &mkp RCLK
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define LA1 1
#define LA2 2
#define LA3 3
#define LA4 4
#define LA5 5
#define LA6 6
#define LA7 7
#define LA8 8

&lt { quick_tap_ms = <200>; };
&mt { quick_tap_ms = <200>; };

/ {
    chosen {
        zmk,matrix_transform = &default_transform;
        // zmk,matrix_transform = &extra_keys_transform;
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
          &kp TAB            &kp Q        &kp W        &kp E        &kp R        &kp T         &kp Y   &kp U          &kp I             &kp O           &kp P           &kp LBKT
          &kp LSHFT          &lt LA4 A    &lt LA3 S    &lt LA2 D    &lt LA1 F    &kp G         &kp H   &kp J          &kp K             &lt LA7 L       &lt LA6 SEMI    &mt RCTRL SQT
          &mt LCTRL MINUS    &mt LALT Z   &kp X        &kp C        &kp V        &kp B         &kp N   &mt LSHFT M    &mt LALT COMMA    &mt LCTRL DOT   &mt LGUI FSLH   &mt RALT BSLH
                                                   &kp ESC   &lt LA5 ENTER   &kp LGUI               &kp SPACE   &kp RIGHT_BRACKET    &kp BSPC
                        >;
                };
                my_layer_1 {
                        bindings = <
          &none       &kp EXCL  &kp AT      &kp HASH    &kp DLLR    &kp PRCNT        &kp CARET     &kp AMPS       &kp LBRC    &kp RBRC    &kp ASTRK   &none
          &kp LSHFT   &none     &kp LALT    &kp LGUI    &none       &none            &kp LEFT      &kp DOWN       &kp UP      &kp RIGHT   &none       &kp MINUS
          &kp LCTRL   &kp LPAR  &kp RPAR    &none       &none       &none            &kp COLON     &kp KP_EQUAL   &kp LBKT    &kp RBKT    &kp GRAVE   &kp PLUS
                                               &kp ESC   &kp ENTER     &kp LGUI            &kp SPACE    &none     &kp DEL
                        >;
                };

                my_layer_2 {
                        bindings = <
          &mt LGUI KP_NUM   &kp KP_SLASH      &kp KP_N7   &kp KP_N8   &kp KP_N9   &kp KP_MINUS   &kp C_VOL_UP   &kp HOME   &kp PSCRN   &kp PG_UP   &kp SLCK          &kp CLCK   
          &mt LCTRL EQUAL   &kp KP_MULTIPLY   &kp KP_N4   &kp KP_N5   &kp KP_N6   &kp KP_PLUS    &kp C_MUTE     &kp LEFT   &kp UP      &kp RIGHT   &kp INS           &mt RCTRL  K_APP
          &kp LALT          &kp KP_N0         &kp KP_N1   &kp KP_N2   &kp KP_N3   &kp KP_DOT     &kp C_VOL_DN   &kp END    &kp DOWN    &kp PG_DN   &kp PAUSE_BREAK   &kp RALT
                                                          &trans      &trans      &lt LA3 RET    &lt LA3 ESC    &trans     &trans
                        >;
                };
                my_layer_3 {
                        bindings = <
        &none    &none   &none   &kp C_VOL_DN   &kp C_VOL_UP   &kp C_MUTE             &none   &none   &none   &none   &none   &none
        &none    &none   &none   &none   &none   &none                                &none   &none   &none   &none   &none   &none
        &none    &none   &none   &none   &none   &none                                &none   &none   &none   &none   &none   &none
                                   &none   &none   &none         &none   &none   &none
                        >;
                };
                my_layer_4 {
                        bindings = <
        &kp W    &none   &none   &none   &none   &none                &none   &none   &none   &none   &none   &none
        &none    &none   &none   &none   &none   &none                &none   &none   &none   &none   &none   &none
        &none    &none   &none   &none   &none   &none                &none   &none   &none   &none   &none   &none
                        &none   &none   &none         &none   &none   &none
                        >;
                };
                my_layer_5 {
                        bindings = <
        &kp E    &none   &none   &none   &none   &none                &kp KP_N4   &kp KP_N2   &kp KP_N8   &kp KP_N6   &none       &none
        &none    &none   &none   &none   &none   &none                &none       &none       &none       &none       &none       &none
        &none    &none   &none   &none   &none   &none                &none       &none       &none       &none       &none       &none
                        &none   &none   &none         &none   &none   &none
                        >;
                };
                my_layer_6 {
                        bindings = <
        &kp R    &none   &none   &none   &none   &none                &none   &none   &none   &none   &none   &none
        &none    &none   &none   &none   &none   &none                &none   &none   &none   &none   &none   &none
        &none    &none   &none   &none   &none   &none                &none   &none   &none   &none   &none   &none
                        &none   &none   &none         &none   &none   &none
                        >;
                };
                my_layer_7 {
                        bindings = <
        &kp T    &none   &none   &none   &none   &none                &none   &none   &none   &none   &none   &none
        &none    &none   &none   &none   &none   &none                &none   &none   &none   &none   &none   &none
        &none    &none   &none   &none   &none   &none                &none   &none   &none   &none   &none   &none
                        &none   &none   &none         &none   &none   &none
                        >;
                };
                my_layer_8 {
                        bindings = <
        &kp A    &none   &none   &none   &none   &none                &none   &none   &none   &none   &none   &none
        &none    &none   &none   &none   &none   &none                &none   &none   &none   &none   &none   &none
        &none    &none   &none   &none   &none   &none                &none   &none   &none   &none   &none   &none
                        &none   &none   &none         &none   &none   &none
                        >;
                };
        };
};
